<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>
<connectionStrings>
  <add name="JiMilkTeaEntities" connectionString="nwXnYONje1tBsS2EmOrs5FJJF/Bk8wCQf3mto8tFO0mgM7Jrgrh+Mn5krin9k/pnyrud7QHeCil1nfHSkyejYdWlT9PiD7TdEf7ULlLKC45ydFhjhWAS4Ax8y3d6L5MwO7VKdyX6obJ7TwydIYT0CrJDyPD6Ody+V/mR2sytz7fKAuTAOg2cuWgBIovTDB/PiqDGJlbDG4nPKL1EPb9Zk2zq5lqZ8SkeSpJS1W0cqvMkS0W8ZaAtU34ErLeD0FM2ZlwIgPu/A4hlWE26kYeGBT77Vpc6zW561gPyRJhO2+2V7jDBHEjjYx3lke9iPEj4uE3bO/KFv/ieTLdn6uM8izgoscRpkxglWL/eItaRJGYjz63SnkQ9CwWOzlXx9VZY" providerName="System.Data.EntityClient" />
</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>